@import url(https://cozykitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root {
	/* windows-titlebar */				   
	--TB-header-padding: 125px;
	
	--switch-slider-color: var(--card-color);
	--switch-knob-color: var(--card-color);
	--server-folder-color: var(--popout-color);
	
	--code-bg-enabled: 0;
	--font-display: Comfortaa, Whitney !important;
}



/*	windows-titlebar (https://discordstyles.github.io/Addons/windows-titlebar.css @Gibbu @Tropix126)	*/
.platform-win .typeWindows_e41dab {
  height: 10px;
  margin-top: 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background: transparent;
}
/* - if app margin is used - *//*
.platform-win .winButtonClose-23zAIt {
  border-top-right-radius: var(--app-radius); 
}*/
.platform-win .winButton_f17fb6 {
  position: relative;
  top: var(--app-margin);
  right: var(--app-margin);
  height: 48px;
  width: 40px;
}
.platform-win .winButton_f17fb6:not(.winButtonClose__6396d):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container__26baa {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows_ffbc5e {
  display: none;
}



/*	CHANGES		*/

/* remove border app>bg>layer */
.layers_a23c37 {
	margin: var(--app-margin);
	border-radius: 0px;
	overflow: hidden;
} 
/* remove threadSidebarOpen rounded corners */
.chat__52833.threadSidebarOpen__62c31,
.container__694a1 {
	border-radius: 0px;
}
/* give threadSidebar resize handle background colour */
.resizeHandle_cc9d34 {
	background-color: var(--main-content-color);
}

/* more subtle mentions no flickering */
.wrapper_a62503.mentioned_fa6fd2 {
  border-color: hsla(var(--mention-hsl), var(--mention-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--mention-hsl), var(--mention-opacity)), 0px 0px 6px 1px hsla(var(--mention-hsl), var(--mention-opacity));
}
.wrapper_a62503.replying__38514 {
  border-color: hsla(var(--reply-hsl), var(--reply-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--reply-hsl), var(--reply-opacity)), 0px 0px 6px 1px hsla(var(--reply-hsl), var(--reply-opacity));
}
/* mention border roundness */
.wrapper_a62503 {
	border-radius: 6px;
}

/* add inline background */


/* channel and role icons top of channel */
.emptyChannelIcon_d45c50,
.iconWrapper__85630,
.role__9690d {
    background-color: var(--card-color);
}
.role__9690d:hover {
    background-color: var(--background-modifier-hover);
}

/* add back code background */
.markup_a7e664 code {
	--diff: (var(--main-content-opacity) - 0.55);
    background-color: rgba(var(--card-rgb), calc( max( (min(var(--diff), 0) / var(--diff)), var(--code-bg-enabled) ) * var(--card-opacity)));
    border-radius: calc(var(--card-radius)/2);
}

/* add text container background */
.newMosaicStyle_ed53d8 .textContainer__65f57, /* header only element */
.modalTextContainer_ce11a8 {
	box-shadow: none;
	border-bottom: 1px solid var(--card-color);
}
.newMosaicStyle_ed53d8 { /* head & body element */
	border-radius: var(--card-radius);
	box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
}

/* header separated items (head & body element) */
.bd-addon-list .bd-addon-card, /* bd plugins & themes */
.authedApp__71a52, /* authorised apps */
.tier_d16770, /* server settings -> sticker */
.checklist__0a7d3, /* server settings -> discovery */
.connectContainer_e331e3 { /* connections */
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
}
/* (header only) */
.bd-addon-list .bd-addon-header,
.authedApp__71a52 .marginBottom20__9fcf3,
.tierHeaderLocked__0ca2e, .tierHeaderUnlocked__960f7,
.header__17969,
.connectContainer_e331e3 .connectHeader__95e44,
.enableContainer__8015f { /* welcome screen, no header & body class for this */
    box-shadow: none;
    border-bottom: 1px solid var(--card-color);
}

/* remove backdrop-filter on message-accessories */
.wrapper__4e6b6 {
    backdrop-filter: none;
}

/* embed default border accent color */
.attachment__06ca3,
.embedFull__14919,
.embedCard__2a3c7,
.container__17159 {
	border-left: 4px solid hsla(var(--accent-hsl), var(--accent-opacity));
}

/* dm list fix */
.interactiveSelected__689f0:hover, .interactiveSelected__689f0:active, .interactiveSelected__689f0:focus-within {
    background-color: var(--background-modifier-selected);
}

/* settings side list fix */
.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda,
.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda:hover,
.topPill__63ad4 .themed_b957e8.selected_a523ff.item__48dda {
    background-color: var(--background-modifier-selected);
}

/* mentions be accent colour */
.markup_a7e664 .wrapper__53064 {
  background-color: hsla(var(--accent-hsl), 0.25);
  color: hsl(var(--accent-hsl));
}
.markup_a7e664 .wrapper__53064:hover {
  background-color: hsla(var(--accent-hsl), 0.475);
  color: hsl(var(--accent-hsl));
}

/* avatar status popout squircle borders */
.withTagAsButton_e22174:hover, .withTagless__058f8:hover {
    border-radius: var(--card-radius);
    margin-right: 6px;
    padding-right: 2px;
}



/*	TRANSLUCENCY FIXES		*/

/* bot tags (in member list & chat)*/
.botTagRegular_fc4b4a {
    background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), var(--accent-opacity));
}

/* server icon context menu checkbox & radio button */
.colorDefault_e361cf .menuitemcheckbox,
.colorDefault_e361cf .radioSelection__41d1e {
    color: hsla(var(--accent-hsl), 0.9);
}

/* remove border for no-auto-play attachments (unknown file types) */
.attachment__06ca3,
.attachment__06ca3.newMosaicStyle__235c9 {
	border: none;
}

/* remove border for attachment download button */
.nonMediaAttachment_ef83c1 {
    background-color: var(--background-modifier-active);
    outline: none;
}

/* ephemeral bot message */
.ephemeral_eb5d84 {
    background-color: hsla(var(--accent-hsl), 0.1) !important;
}
.ephemeral_eb5d84:before {
    background-color: unset;
}

/* view as role disable button */
.lookOutlined__014b5.colorWhite__0033e {
    margin-right: 178px;
}

/* user profile on dm sidebar */
.userPanelOuter_eb00b1.profileColors_ac6ab4 {
    --profile-gradient-primary-color: var(--popout-color) !important;
    --profile-gradient-secondary-color: var(--popout-color) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-avatar-border-color: var(--popout-color) !important;
    --profile-body-background-color: var(--popout-color) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    background: transparent;
}



/*	ADDING TRANSLUCENCY		*/

/* attachment bg */
.upload_c98ecb {
	background-color: var(--popout-color);
}

/* channel user count */
.total_c01838 {
	background-color: var(--popout-color);
}
.total_c01838:after {
	border-right-color: var(--popout-color);
}

/* slider bar background */
.bar_e58961 .barFill__1f56b {
    background-color: var(--background-modifier-selected) !important;
}
.theme-dark .bar_e58961, .theme-dark .markDash_dc3ae9 {
    background: var(--card-color) !important;
}

/* folder head background */
.folder__17546, .folder__17546:hover {
	background-color: hsla(var(--accent-hsl),var(--accent-opacity));
}
/* folder closed overlay colour */
.folderIconWrapper__11165[style*="background-color: rgba(88"] {
	background-color: transparent !important;
}
/* expanded folder icon colour */
.expandedFolderIconWrapper__324c1 svg path {
	fill: var(--accent-text-color);
}

/* user settings voice & video */
.soundButtonSettingContainer__3821b {
	height: var(--input-height);
	border-radius: var(--input-radius);
	background-color: rgba(var(--textarea-color), var(--textarea-alpha));
	border: none;
	color: var(--textarea-text-color);
}
.cameraWrapper_d3535e {
  background: var(--card-color);
  border-radius: var(--card-radius);
  border-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-width: 2px;
}



/* HIDE CLUTTER */

/* discord premium advertising emoji in-chat selector */
.premiumSectionDivider__2ed1a,
.premiumEmoji_d4ce86,
.premiumHeader_f73c14 {
    display: none;
}

/* profile settings skin advertisements */
.container__686c4 {
	display: none;
}

/* remove shop in dm list */
li.channel__0aef5.container__3792d:not([aria-posinset]) {
	display:none;
}



/* ACCENT COLOUR ONLINE STATUS */

/* saturation filter on avatar status indicators */
.wrapper__3ed10 .pointerEvents__585e6, /*member & dm list & status popout*/
.wrapper__3ed10 .mask_d5067d.svg_a6bf1c svg rect { /*avatar*/
	filter: saturate(var(--saturation-factor));
}

/* accent colour as online colour */
.wrapper__3ed10 .pointerEvents__585e6[mask*="url(#svg-mask-status-online"] { /*member & dm open, etc*/
	fill: hsla(var(--accent-hsl), 0.9);
}
.wrapper__3ed10[aria-label*="Online"] .mask_d5067d.svg_a6bf1c > svg > rect { /*avatar & dm list //doesn't reliably work through .pointerEvents*/
	fill: hsla(var(--accent-hsl), 0.9);
}
.accountProfilePopoutWrapper_d4887f .mask__3aa53 [mask*="url(#svg-mask-status-online"] .status__1c26d { /*avatar status picker*/
	background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), 0.9) !important;
}
/*[aria-label*="Online"].status-12NUUC .mask-3tgVZv rect { /*dm open //works through .pointerEvents
    fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}*/
.statusDot_c605a3 [mask*="url(#svg-mask-status-online"] { /*profiles settings*/
	fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}



/*	ADDITIONS	*/

/* timestamps plugin 
input.timestamp-input {
    height: var(--input-height);
    border-radius: var(--input-radius);
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border: none;
    transition: var(--transition-time) var(--transition-type);
}
.timestamp-input-dropdown {
    background: none;
    border: none;
}*/

/* stream participants on stream display 
.scroller-3b1p7z.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);
	box-shadow: var(--popout-shadow);
	
}*/

/* server topmost quickstart guide thingy 
.card-PQEqCK {
	background-color: var(--card-color);
	border-radius: var(--card-radius);
	filter: saturate(var(--saturation-factor));
}
.checkmark-bW9BK8 {
	background-color: var(--button-color);
}*/