@import url(https://capnkitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root {
	/* windows-titlebar */				   
	--TB-header-padding: 285px;
	--custom-app-top-bar-height: 10px;
	
	--switch-slider-color: var(--card-color);
	--switch-knob-color: var(--card-color);
	--server-folder-color: var(--popout-color);
	
	--code-bg-enabled: 0;
	--font-display: Comfortaa, Whitney !important;
	
	/* Translucence */
	--server-folder-color: hsla(var(--accent-hsl),var(--accent-opacity));
}



/* windows-titlebar - @CapnKitten */
.platform-win ._5e434347c823b592-base {
  grid-template-rows: [top] 0px [titleBarEnd] min-content [noticeEnd] 1fr [end];
}
.platform-win ._160d8e55254637e5-layers {
  margin: var(--app-margin);
}
.platform-win .c38106a3f0c3ca76-bar {
  position: fixed;
  width: calc(100% - var(--app-margin) * 2);
  height: calc(var(--custom-app-top-bar-height) + var(--app-margin));
  top: 0;
  padding-left: 0;
  z-index: 2;
}
.platform-win .c38106a3f0c3ca76-title {
  display: none;
}
.platform-win .c38106a3f0c3ca76-trailing {
  position: absolute;
  height: 50px;
  top: var(--app-margin);
  right: 0;
}
.platform-win .c38106a3f0c3ca76-winButtons,
.platform-win .c38106a3f0c3ca76-winButton {
  height: inherit;
}
.platform-win .c38106a3f0c3ca76-winButton {
  width: 40px;
}
/* if app-radius is used *//*
.platform-win .c38106a3f0c3ca76-winButtonClose {
  border-top-right-radius: var(--app-radius);
} */
.platform-win .c38106a3f0c3ca76-winButtonsWithDivider:before {
  height: calc(100% - var(--space-24));
}
.platform-win ._9293f6b2fc12398a-container {
  padding-right: var(--TB-header-padding);
}
/* settings page remove top margin and app-radius */
._23e6b439306f125a-standardSidebarView {
    margin-top: 0;
    border-radius: 0px;
}



/*	CHANGES		*/

/* remove border app>bg>layer */
._5e434347c823b592-content {
	border-radius: 0px;
} 
/* remove threadSidebarOpen rounded corners */
.f75fb00fb7356cbe-chat.f75fb00fb7356cbe-threadSidebarOpen,
._01ae244280823725-container {
	border-radius: 0px;
}
/* give threadSidebar resize handle background colour */
._01ae244280823725-resizeHandle {
	background-color: var(--main-content-color);
}

/* more subtle mentions no flickering */
.c19a557985eb7793-wrapper._5126c0cd07f243a0-mentioned {
  border-color: hsla(var(--mention-hsl), var(--mention-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--mention-hsl), var(--mention-opacity)), 0px 0px 6px 1px hsla(var(--mention-hsl), var(--mention-opacity));
}
.c19a557985eb7793-wrapper._5126c0cd07f243a0-replying {
  border-color: hsla(var(--reply-hsl), var(--reply-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--reply-hsl), var(--reply-opacity)), 0px 0px 6px 1px hsla(var(--reply-hsl), var(--reply-opacity));
}
/* mention border roundness */
.visual-refresh ._5126c0cd07f243a0-message {
	border-radius: 6px;
}

/* channel and role icons top of channel */
._00de6f6c14b53606-emptyChannelIcon,
._54b20d287f944f7b-iconWrapper,
.b4b2c318c99fc487-role {
    background-color: var(--card-color);
	border-radius: var(--button-radius);
	border: none;
}
.b4b2c318c99fc487-role:hover {
    background-color: var(--background-modifier-hover);
}

/* add inline background */
._752971923a1e6683-markup code.inline {
	background-color: var(--textarea-block-color);
    border-radius: 5px;
}

/* add back code background */
._752971923a1e6683-markup code {
	--diff: (var(--main-content-opacity) - 0.5514);
    background-color: rgba(var(--card-rgb), calc( max( (min(var(--diff), 0) / var(--diff)), var(--code-bg-enabled) ) * var(--card-opacity)));
    border-radius: calc(var(--card-radius)/2);
	border: none;
}

/* add text container background */
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer, /* header only element */
._4d95d73152192cf9-modalTextContainer {
	box-shadow: none;
	border-bottom: 1px solid var(--card-color);
}
._4d95d73152192cf9-newMosaicStyle { /* head & body element */
	border-radius: var(--card-radius);
	box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
}
._49fc18ba07c5025f-root { /* popout file */
	border: none;
}

/* header separated items (head & body element) */
.bd-addon-list .bd-addon-card, /* bd plugins & themes */
.authedApp__50a54, /* authorised apps */
.a36dee84341ac9f5-tier, /* server settings -> sticker */
.checklist__5afba, /* server settings -> discovery */
.connectContainer_c7f964 { /* connections */
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
}
/* (header only) */
.bd-addon-list .bd-addon-header,
.authedApp__50a54 .fd297e0eff2da25e-marginBottom20,
.a36dee84341ac9f5-tierHeaderLocked, .a36dee84341ac9f5-tierHeaderUnlocked,
._99871ef1d8f8adaa-header,
.connectContainer_c7f964 .connectHeader_c7f964,
._5ea8ce30885a2f21-enableContainer { /* welcome screen, no header & body class for this */
    box-shadow: none;
    border-bottom: 1px solid var(--card-color);
}

/* remove backdrop-filter on message-accessories */
.f7ecaca5c80dbf3a-wrapper {
    backdrop-filter: none;
	border: none;
}
.popoverReactionHoverBar_f84418:hover {
	border: none;
}
.f84418acfdbdfe54-hoverBarButton {
    padding: 4px;
    border-radius: calc(var(--card-radius)/2);
}
.f84418acfdbdfe54-hoverBarButton:active {
    padding: 4px;
}

/* embed default border accent color */
._0ccaee68b77c7469-fileWrapper,
._623de82e76ad7f82-embedFull,
._44c9ad8d149f0821-embedCard,
._9271d23503a01b50-container {
	border-left: 4px solid hsla(var(--accent-hsl), var(--accent-opacity));
}

/* dm list fix */
._972a0d22c8afa7f0-interactiveSelected:hover, ._972a0d22c8afa7f0-interactiveSelected:active, ._972a0d22c8afa7f0-interactiveSelected:focus-within {
    background-color: var(--background-modifier-selected);
}

/* settings side list fix */
.aa8da23faa27393c-side .aa8da23faa27393c-themed.aa8da23faa27393c-selected.aa8da23faa27393c-item,
.aa8da23faa27393c-side .aa8da23faa27393c-themed.aa8da23faa27393c-selected.aa8da23faa27393c-item:hover,
.aa8da23faa27393c-topPill .aa8da23faa27393c-themed.aa8da23faa27393c-selected.aa8da23faa27393c-item {
    background-color: var(--background-modifier-selected);
}

/* mentions be accent colour */
._752971923a1e6683-markup ._4106ae7c1472c1de-wrapper {
  background-color: hsla(var(--accent-hsl), 0.25);
  color: hsl(var(--accent-hsl));
}
._752971923a1e6683-markup ._4106ae7c1472c1de-wrapper:hover {
  background-color: hsla(var(--accent-hsl), 0.475);
  color: hsl(var(--accent-hsl));
}

/* avatar status popout squircle borders */
.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
    border-radius: var(--card-radius);
    margin-right: 6px;
    padding-right: 2px;
}

/* restore old reply / mention indicator 
.c19a557985eb7793-repliedMessage {
  transform: translateX(40px);
}
.c19a557985eb7793-repliedMessage:before {
  border-color: var(--interactive-muted);
  transform: translateX(0);
}
.c19a557985eb7793-wrapper.c19a557985eb7793-hasReply .c19a557985eb7793-avatar {
  top: 0;
}
.c19a557985eb7793-wrapper.c19a557985eb7793-hasReply .c19a557985eb7793-avatarDecoration {
  top: -2px;
}
.c19a557985eb7793-wrapper._5126c0cd07f243a0-mentioned .c19a557985eb7793-repliedMessage:before {
  border-color: var(--interactive-muted);
}*/

/* reply spine colour */
.c19a557985eb7793-repliedMessageClickableSpine,
.c19a557985eb7793-repliedMessageClickableSpine.c19a557985eb7793-repliedMessageContentHovered {
	border-color: var(--spine-default);
}

/* remove borders */
.c1e9c47c23f12ca3-menu {
    border: none;
}
.c322aadb96ff59c9-searchBar {
    border: none;
    background-color: var(--background-modifier-hover);
    border-radius: var(--button-radius);
    padding: 2px 6px;
}
.c322aadb96ff59c9-searchBar .c322aadb96ff59c9-icon {
    height: auto;
}
._0f481cbbd7530492-bottomBar {
    background-color: var(--card-color-hover);
    border-radius: var(--popout-radius);
    border: none;
}



/*	TRANSLUCENCY FIXES		*/

/* search bar sidebar fix */
.a98f3b020416ad54-searchResultsWrap {
    background-color: rgba(var(--main-rgb), calc(var(--sidebar-opacity) - var(--main-content-opacity)));
    border: none;
}

/* guild member sidebar fix */
.c8ffbb79449f399c-container {
    border-left: none;
}

/* bot tags (in member list & chat)*/
._82f0793afa59e5dc-botTagRegular {
    background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), var(--accent-opacity));
}

/* server icon context menu checkbox & radio button */
.c1e9c47c23f12ca3-colorDefault .menuitemcheckbox,
.c1e9c47c23f12ca3-colorDefault .c1e9c47c23f12ca3-radioSelection {
    color: hsla(var(--accent-hsl), 0.9);
}

/* remove border for no-auto-play attachments (unknown file types) */
._0ccaee68b77c7469-fileWrapper,
._0ccaee68b77c7469-fileWrapper.newMosaicStyle_b52bef {
	border: none;
}

/* remove border for attachment download button */
.nonMediaAttachment_ef83c1 {
    background-color: var(--background-modifier-active);
    outline: none;
}

/* ephemeral bot message */
._5126c0cd07f243a0-ephemeral {
    background-color: hsla(var(--accent-hsl), 0.1) !important;
}
._5126c0cd07f243a0-ephemeral:before {
    background-color: unset;
}

/* view as role disable button */
._201d5e8a3c09670a-lookOutlined._201d5e8a3c09670a-colorWhite {
    margin-right: 178px;
}

/* user profile on dm sidebar */
.c0bea05627c5dc35-outer.panel_c0bea0 {
    --profile-gradient-primary-color: var(--popout-color) !important;
    --profile-gradient-secondary-color: var(--popout-color) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-avatar-border-color: var(--popout-color) !important;
    --profile-body-background-color: var(--popout-color) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    background: transparent;
}
.c0bea05627c5dc35-outer.panel_c0bea0 .c0bea05627c5dc35-overlay {
    background-color: var(--background-modifier-accent);
}

/* date pills in chat area */
._908e20001ad67812-content {
	width: 120px;
    padding: 2px 0;
    background-color: var(--message-color);
    text-align: center;
}

/* backgroundflash on linked message */
._034365f2217df5de-flash {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 4px;
}
._034365f2217df5de-flash[data-flash=true] {
    background-color: hsla(var(--accent-hsl), 0.3);
    transition: 200ms ease-out background-color;
}



/*	ADDING TRANSLUCENCY		*/

/* attachment bg */
.aa605f19898fe32e-upload {
	background-color: var(--popout-color);
}

/* channel user count */
._260e1982cd52c5c3-total {
	background-color: var(--popout-color);
}
._260e1982cd52c5c3-total:after {
	border-right-color: var(--popout-color);
}

/* slider bar background */
.a562c840daab72a7-bar .a562c840daab72a7-barFill {
    background-color: var(--background-modifier-selected) !important;
}
.theme-dark .a562c840daab72a7-bar, .theme-dark .a562c840daab72a7-markDash {
    background: var(--card-color) !important;
}

/* folder head background */
/*.b18fe29d6fe8dd82-hiddenVisually, .b18fe29d6fe8dd82-hiddenVisually:hover {
	/background-color: hsla(var(--accent-hsl),var(--accent-opacity));
}*/
/* folder closed overlay colour */
._48112cbe77dc5022-folderPreviewWrapper[style*="background-color: rgba(88"] {
	background-color: transparent !important;
}
/* expanded folder icon colour */
.expandedFolderIconWrapper__48112 svg path {
	fill: var(--accent-text-color);
}

/* user settings voice & video */
._84bad078060c37c1-soundButtonSettingContainer {
	height: var(--input-height);
	border-radius: var(--input-radius);
	background-color: rgba(var(--textarea-color), var(--textarea-alpha));
	border: none;
	color: var(--textarea-text-color);
}
.cameraWrapper_d41d5f {
  background: var(--card-color);
  border-radius: var(--card-radius);
  border-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-width: 2px;
}

/* add reactions button next to reactions */
._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow {
	background-color: transparent;
	border: none;
	border-radius: var(--message-radius);
}
._23977d5b7cef7361-reactionBtn._23977d5b7cef7361-forceShow:hover {
	background-color: var(--background-modifier-hover);
	border-color: unset;
}

/* reply bar on reply chain "create thread" promt */
._740174f3d6a2c8fe-stackedBars ._841c8f861f7b2704-threadSuggestionBar {
    background: transparent;
}

/* app menu -> app commands app title bar */
._958562d63bb1e99d-overviewContainerNoVideo,
._958562d63bb1e99d-overviewContainerWithVideo {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

/* member list items */
._91a9d7f7e5248a56-container {
    border-radius: var(--list-item-radius);
}
._91a9d7f7e5248a56-childContainer, /* member list items */
._972a0d22c8afa7f0-link { /* dm list items */
    border-radius: inherit;
    padding: 0;
}
._5d473ecff348c314-memberInner,/* member list items */
.density-default ._20a53846fe2e8513-layout { /* dm list items */
    padding: 6px 8px;
	height: auto;
}
/* dm list items */
._972a0d22c8afa7f0-channel {
    margin: 0 8px;
}



/* HIDE CLUTTER */

/* discord premium advertising emoji in-chat selector */
.premiumSectionDivider__2ed1a,
.premiumEmoji_d4ce86,
.premiumHeader_f73c14 {
    display: none;
}

/* profile settings skin advertisements */
._65c15724a894a2e0-premiumFeatureBorder {
	display: none;
}


li._972a0d22c8afa7f0-channel.a244c3c87d2b1e13-container:not([aria-posinset]), /* remove shop in dm list */
li._972a0d22c8afa7f0-channel.a244c3c87d2b1e13-container[aria-posinset="2"], /* rmov nitro tab */
._740174f3d6a2c8fe-buttons > button, /* nitro button textarea */
._740174f3d6a2c8fe-buttons :nth-child(4), /* sticker button textarea */
.container_eff079 { /* boost bar server top */
	display:none;
}




/* ACCENT COLOUR ONLINE STATUS */

/* saturation filter on avatar status indicators */
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-pointerEvents, /*member & dm list & status popout*/
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask._44b0c28be7879b7b-svg svg rect { /*avatar*/
	filter: saturate(var(--saturation-factor));
}

/* accent colour as online colour */
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-pointerEvents[mask*="url(#svg-mask-status-online"] { /*member & dm open, etc*/
	fill: hsla(var(--accent-hsl), 0.9);
}
._44b0c28be7879b7b-wrapper[aria-label*="Online"] ._44b0c28be7879b7b-mask._44b0c28be7879b7b-svg svg > rect { /*avatar & dm list & member list //doesn't reliably work through .pointerEvents*/
	fill: hsla(var(--accent-hsl), 0.9);
}
.accountProfilePopoutWrapper__37e49 .a423bdd721ddcc83-mask [mask*="url(#svg-mask-status-online"] .a423bdd721ddcc83-status { /*avatar status picker*/
	background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), 0.9) !important;
}
/*[aria-label*="Online"].status__2a4a6 .a423bdd721ddcc83-mask rect { /*dm open //works through .pointerEvents
    fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}
.statusDot_ab876d [mask*="url(#svg-mask-status-online"] { /*profiles settings
	fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}*/



/*	ADDITIONS	*/

/* timestamps plugin 
input.timestamp-input {
    height: var(--input-height);
    border-radius: var(--input-radius);
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border: none;
    transition: var(--transition-time) var(--transition-type);
}
.timestamp-input-dropdown {
    background: none;
    border: none;
}*/

/* stream participants on stream display 
.d6b206a637c8e59a-scroller._99f8cc7ad4790ce9-thin.scrollerBase-_bVAAt {
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);
	box-shadow: var(--popout-shadow);
	
}*/

/* server topmost quickstart guide thingy 
.aae01227de06a74c-card {
	background-color: var(--card-color);
	border-radius: var(--card-radius);
	filter: saturate(var(--saturation-factor));
}
.aae01227de06a74c-checkmark {
	background-color: var(--button-color);
}*/