@import url(https://cozykitten.github.io/BetterDiscord/Themes/Translucence/css/source.css);
:root {
	/* windows-titlebar */				   
	--TB-header-padding: 125px;
	
	--switch-slider-color: var(--card-color);
	--switch-knob-color: var(--card-color);
	--server-folder-color: var(--popout-color);
	
	--code-bg-enabled: 0;
	--font-display: Comfortaa, "Dancing Script Medium", Whitney !important;
}



/*	windows-titlebar (discordstyles.github.io @Gibbu @Tropix126)	*/
.platform-win .typeWindows-2-g3UY {
  height: 10px;
  margin-top: 0;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background: transparent;
}
/* - if app margin is used - *//*
.platform-win .winButtonClose-3Q8ZH5 {
  border-top-right-radius: var(--app-radius); 
}*/
.platform-win .winButton-3UMjdg {
  position: relative;
  top: var(--app-margin);
  right: var(--app-margin);
  height: 48px;
  width: 40px;
}
.platform-win .winButton-3UMjdg:not(.winButtonClose-3Q8ZH5):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container-ZMc96U {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows-2dq6rw {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-3UMjdg {
  right: 30%;
}
.platform-win .closeButton-30b1gR {
  right: unset;
  left: 0;
}



/*	CHANGES		*/

/* remove border */
.layers-OrUESM {
	margin: var(--app-margin);
	border-radius: 0px;
	overflow: hidden;
} 
/* remove threadSidebarOpen rounded corners */
.chat-2ZfjoI.threadSidebarOpen-1LSXvU,
.container-3XgAHv {
	border-radius: 0px;
}
/* give threadSidebar background colour */
.container-3XgAHv,
.resizeHandle-PBRzPC {
	background-color: var(--main-content-color);
}

/* more subtle mentions no flickering */
.wrapper-30-Nkg.mentioned-Tre-dv {
  border-color: hsla(var(--mention-hsl), var(--mention-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--mention-hsl), var(--mention-opacity)), 0px 0px 6px 1px hsla(var(--mention-hsl), var(--mention-opacity));
}
.wrapper-30-Nkg.replying-eZ7p5z {
  border-color: hsla(var(--reply-hsl), var(--reply-opacity));
  box-shadow: inset 0px 0px 4px 1px hsla(var(--reply-hsl), var(--reply-opacity)), 0px 0px 6px 1px hsla(var(--reply-hsl), var(--reply-opacity));
}
/* mention border roundness */
.wrapper-30-Nkg {
	background-color: var(--message-color);
	border-radius: 6px;
}

/* add inline background */
.markup-eYLPri code.inline,
.after_inlineCode-2_JXPm,
.before_inlineCode-1zngJj,
.inlineCode-ERyvy_ {
    background-color: var(--textarea-block-color);
}

/* channel and role icons top of channel */
.emptyChannelIcon-1YdEz2,
.iconWrapper-3plkqh,
.role-23oyrw {
    background-color: var(--card-color);
}

/* add back code background */
.markup-eYLPri code {
	--diff: (var(--main-content-opacity) - 0.55);
    background-color: rgba(var(--card-rgb), calc( max( (min(var(--diff), 0) / var(--diff)), var(--code-bg-enabled) ) * var(--card-opacity)));
    border-radius: calc(var(--message-radius)/2);
}

/* add text container background */
.textContainer-36wgKK {
    background-color: var(--card-color);
	box-shadow: none;
}
.embedWrapper-1MtIDg.container-rr3Ruk {
	border-radius: var(--message-radius);
	box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
}
.newMosaicStyle-2jdUaP .footer-GXWBBp {
    border-top: 1px solid var(--card-color);
}

/* header separated items (head & body box) */
.bd-addon-list .bd-addon-card, /* bd plugins & themes */
.authedApp-8q3NA9, /* authorised apps */
.tier-3CS7-p, /* server settings -> sticker */
.checklistContainer-12xGp5, /* server settings -> partner programme */
.checklist-Asy_56, /* server settings -> discovery */
.connectContainer-1hylYM { /* connections */
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 25%);
}
/* (header only) */
.bd-addon-list .bd-addon-header,
.authedApp-8q3NA9 .marginBottom20-315RVT,
.tierHeaderLocked-30MLlO, .tierHeaderUnlocked-1OpOLf,
.checklistHeader-3liG7E,
.header-Wl8ec-,
.connectContainer-1hylYM .connectHeader-2VkFiv,
.enableContainer-H2cRts { /* welcome screen, no header & body class for this */
    box-shadow: none;
    border-bottom: 1px solid var(--card-color);
}

/* remove backdrop-filter on message-accessories */
.wrapper-2vIMkT {
    backdrop-filter: none;
}

/* embed default border accent color */
.attachment-1PZZB2, .embedFull-1HGV2S {
	border-left: 4px solid hsla(var(--accent-hsl), var(--accent-opacity));
}

/* invites bg and border */
.inviteSplash-2nkLRX {
	border-top-right-radius: var(--card-radius);
	border-top-left-radius: var(--card-radius);
}

/* dm list fix */
.interactiveSelected-29CP8y:hover, .interactiveSelected-29CP8y:active, .interactiveSelected-29CP8y:focus-within {
    background-color: var(--background-modifier-selected);
}

/* settings side list fix */
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG:hover,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    background-color: var(--background-modifier-selected);
}

/* mentions be accent colour */
.markup-eYLPri .wrapper-1ZcZW- {
  background-color: hsla(var(--accent-hsl), 0.25);
  color: hsl(var(--accent-hsl));
}
.markup-eYLPri .wrapper-1ZcZW-:hover {
  background-color: hsla(var(--accent-hsl), 0.475);
  color: hsl(var(--accent-hsl));
}

/* avatar status popout squircle borders */
.withTagAsButton-OsgQ9L:hover, .withTagless-10ooWt:hover {
    border-radius: var(--card-radius);
    margin-right: 6px;
    padding-right: 2px;
}



/*	TRANSLUCENCY FIXES		*/

/* search bar matches actual sidebar colour */
.searchResultsWrap-5RVOkx {
  background-color: rgba( var(--main-rgb), calc( (var(--sidebar-opacity) - var(--main-content-opacity)) / (1 - var(--main-content-opacity)) ));
}

/* bot tags */
.px-MnE_OR.botTag-7aX5WZ,
.botTagRegular-kpctgU {
    background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), var(--accent-opacity));
}

/* server icon context menu checkbox & radio button */
.colorDefault-CDqZdO .checkbox-hADx5o,
.colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: hsla(var(--accent-hsl), 0.9);
}

/* ephemeral bot message */
.ephemeral-2nDdnn {
    background-color: hsla(var(--accent-hsl), 0.1) !important;
}
.ephemeral-2nDdnn:before {
    background-color: unset;
}

/* integration permissions settings cards */
.cardHeader-3d6H8N {
    background-color: unset;
    border-bottom: 1px solid var(--card-color);
}
.cardPrimary-pAe8Ed.editable-2xfXMr {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: transparent !important;
}

/* integration permission switches radiogroup */
.group-1-kPpw {
    background-color: var(--card-color);
    border-radius: var(--button-radius);
    border: none;
    overflow: hidden;
}

/* view as role disable button */
.button-29sJG8.button-ejjZWC.lookOutlined-3RTC7c.colorWhite-Eshn2o.grow-2T4nbg {
    margin-right: 178px;
}

/* roles edit / view button */
.roleRow-230vCm:hover .button-1_oXub {
    background-color: var(--background-modifier-active)!important;
}
.roleRow-230vCm:hover .button-1_oXub:hover {
    background-color: var(--background-modifier-hover) !important;
}

/* user profile on dm sidebar */
.profileColors-2AgAV4 {
    --profile-gradient-primary-color: var(--popout-color) !important;
    --profile-gradient-secondary-color: var(--popout-color) !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-avatar-border-color: var(--popout-color) !important;
    --profile-body-background-color: var(--popout-color) !important;
    --profile-body-divider-color: var(--background-modifier-accent) !important;
    background: transparent;
}



/*	ADDING TRANSLUCENCY		*/

/* attachment bg */
.upload-vLbqu- {
	background-color: var(--popout-color);
}

/* quickreact emoji in contect menu */
.button-1zW0-r {
	background-color: var(--card-color);
}
.button-1zW0-r:hover {
	background-color: var(--card-color-hover);
}

/* channel user count */
.total-1c5KCN {
	background-color: var(--popout-color);
}
.total-1c5KCN:after {
	border-right-color: var(--popout-color);
}

/* slider bar background */
.bar-2H7Q9u .barFill-3RgCsY {
    background-color: var(--background-modifier-selected);
}
.theme-dark .bar-2H7Q9u, .theme-dark .markDash-1ATsxA {
    background: var(--card-color) !important;
}

/* folder head background */
.folder-241Joy, .folder-241Joy:hover {
	background-color: hsla(var(--accent-hsl),var(--accent-opacity));
}
/* folder closed overlay colour */
.folderIconWrapper-1oRIZr[style*="background-color: rgba(88"] {
	background-color: transparent !important;
}
/* expanded folder icon colour */
.expandedFolderIconWrapper-3RwQpD svg path {
	fill: var(--accent-text-color);
}

/* server stickers circular hover buttons */
.action-2YPPom {
    background-color: var(--card-color);
}

/* sticker progress bar */
.foreground-3_3Pgi {
    color: hsla(var(--accent-hsl), var(--accent-opacity));
}
.theme-dark .tierAccomplished-1I5NaT,
.theme-dark .tierCurrent-2nowYi,
.theme-dark .tierFirst-1Vn3wS {
    background: hsla(var(--accent-hsl), var(--accent-opacity));
}
.theme-dark .tierInProgress-1vFUnw {
	background: var(--card-color);
}

/* server insights */
.developerPortalCtaWrapper-2PniQs {
	background-color: var(--card-color);
}
.error-2568aZ {
    background-color: var(--card-color);
    border-radius: var(--card-radius);
}

/* video settings video test */
.cameraWrapper-nG8dpo {
    background: var(--card-color);
    border-radius: var(--card-radius);
    border-color: hsla(var(--accent-hsl), var(--accent-opacity));
    border-width: 2px;
}



/*	ADDITIONS	*/

/* timestamps plugin */
input.timestamp-input {
    height: var(--input-height);
    border-radius: var(--input-radius);
    background-color: rgba(var(--textarea-color), var(--textarea-alpha));
    border: none;
    transition: var(--transition-time) var(--transition-type);
}
.timestamp-input-dropdown {
    background: none;
    border: none;
}

/* stream participants on stream display */
.scroller-3b1p7z.thin-31rlnD.scrollerBase-_bVAAt {
	background-color: var(--popout-color);
	border-radius: var(--popout-radius);
	box-shadow: var(--popout-shadow);
	
}

/* server topmost quickstart guide thingy */
.card-PQEqCK {
	background-color: var(--card-color);
	border-radius: var(--card-radius);
	filter: saturate(var(--saturation-factor));
}
.checkmark-bW9BK8 {
	background-color: var(--button-color);
}

/* accent colour as online colour */
.wrapper-3Un6-K [mask*="url(#svg-mask-status-online"].pointerEvents-2KjWnj { /*member & dm list & userpopout, etc*/
	fill: hsla(var(--accent-hsl), 0.9);
	filter: saturate(var(--saturation-factor));
}
.wrapper-3Un6-K[aria-label*="Online"] .mask-1y0tyc.svg-1G_H_8 svg [width="25"][height="15"] { /*avatar*/
	fill: hsla(var(--accent-hsl), 0.9);
	filter: saturate(var(--saturation-factor));
}
.mask-3tgVZv [mask*="url(#svg-mask-status-online"] .status-3cqfT9 { /*avatar status picker*/
	background-color: hsla(var(--accent-hue), calc(var(--accent-saturation) * var(--saturation-factor)), var(--accent-lightness), 0.9) !important;
}
[aria-label*="Online"].status-12NUUC .mask-3tgVZv rect { /*dm open*/
    fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}
.statusDot-3YgDKA [mask*="url(#svg-mask-status-online"] { /*profiles settings*/
	fill: hsla(var(--accent-hsl), 0.9);
    filter: saturate(var(--saturation-factor));
}

/* saturation fix until discord fixes their shit */
.wrapper-3Un6-K .pointerEvents-2KjWnj { /*member & dm list & userpopout, etc*/
	filter: saturate(var(--saturation-factor));
}
.wrapper-3Un6-K .mask-1y0tyc.svg-1G_H_8 svg [width="25"][height="15"] { /*avatar*/
	filter: saturate(var(--saturation-factor));
}
.status-12NUUC .mask-3tgVZv rect { /*dm open*/
    filter: saturate(var(--saturation-factor));
}