/**
 * @name Translucence_sakura
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://cozykitten.github.io/theme-modifications/changes.css);

:root {
	/* app */
	--app-bg: url(https://cdn.discordapp.com/attachments/766204015683567616/895270095092346930/691896-2560x1440.png);
	--app-blur: 0px;
	--app-margin: 0px;
	--app-radius: 16px;
	
	/* accent colour */
	--accent-hue: 332;
	--accent-saturation: 68%;
	--accent-lightness: 75%;
	--accent-opacity: 0.7;
	--accent-hsl: var(--accent-hue),var(--accent-saturation),var(--accent-lightness);
	--accent-text-color: rgba(255, 255, 255, 0.85);
	
	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(235, 150, 190, 0.7);
	
	/* main content */
	--main-rgb: 10, 11, 12;
	--main-content-opacity: 0.8;
	--sidebar-opacity: 0.88; /* 0.4 darker than 0.8 content colour */				
	
	--main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
	--sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));
	
	/* messages */
	--message-color: rgba(0,0,0,0);
	--message-padding-top: 0px;
	--message-padding-side: 2px;
	--message-radius: 16px;
	
	--code-bg-enabled: 0;
	
	/* mentions */
	--mention-hue: 226;
	--mention-saturation: 69%;
	--mention-lightness: 75%;
	--mention-opacity: 0.85;
	
	--reply-hue: 332;
	--reply-saturation: 68%;
	--reply-lightness: 75%;
	--reply-opacity: 0.65;
	
	/* popouts */
	--popout-color: rgba(0,0,0,0.4);
	--popout-blur: 4px;
	
	/* cards */
	--card-rgb: 0, 0, 0;
	--card-opacity: 0.25;
	--card-color: rgba(var(--card-rgb), var(--card-opacity));
	--card-color-hover: rgba(236, 221, 227, 0.25);
	--card-color-select: rgba(240, 190, 209, 0.5); /*	-	*/
	
	--textarea-block-color: rgba(0, 0, 0, 0.4);
	
	/* text */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.015;
	--textarea-text-color: rgb(255, 255, 255);
	--textarea-radius: 22px;  /*	-	*/
	--text-normal: #fff;
	--textarea-block-text-color: #eee;
	
	/* app text */
	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/
	
	--scrollbar-opacity: 0.2;
	--scrollbar-opacity-hover: 0.3;
}