/**
 * @name Translucence_summer
 * @version 1.0.6.3
 * @description A translucent/frosted glass Discord theme
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Translucence/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://cozykitten.github.io/theme-modifications/changes.css);

:root {
	/* app */
	--app-bg: url(https://raw.githubusercontent.com/cozykitten/theme-modifications/main/bg/summer-749735-original-mitsuki.jpg);
	--app-blur: 2px;
	--app-margin: 0px;
	--app-radius: 16px;
	
	/* accent colour */
	--accent-hue: 105;
	--accent-saturation: 32%;
	--accent-lightness: 68.5%;
	--accent-opacity: 0.65;
	--accent-hsl: var(--accent-hue),var(--accent-saturation),var(--accent-lightness);
	--accent-text-color: rgba(255, 255, 255, 0.85);
	
	--background-modifier-hover: rgba(255,255,255,0.125);
	--background-modifier-selected: rgba(169, 210, 164, 0.65);
	
	/* main content */
	--main-rgb: 18, 20, 16;
	--main-content-opacity: 0.55;
	--sidebar-opacity: 0.6;
	
	--main-content-color: rgba(var(--main-rgb), var(--main-content-opacity));
	--sidebar-color: rgba(var(--main-rgb), var(--sidebar-opacity));
	
	/* messages */
	--message-color: rgba(0, 0, 0, 0);
	--message-padding-top: 0px;
	--message-padding-side: 2px;
	--message-radius: 16px;
	
	--code-bg-enabled: 0;
	
	/* mentions */
	--mention-hue: 226;
	--mention-saturation: 68%;
	--mention-lightness: 75.5%;
	--mention-opacity: 0.85;
	
	--reply-hue: 105;
	--reply-saturation: 32%;
	--reply-lightness: 70.5%;
	--reply-opacity: 0.65;
	
	/* popouts */
	--popout-color: rgba(10, 12, 8, 0.2);
	--popout-blur: 2px;
	
	/* cards */
	--card-rgb: 0, 0, 0;
	--card-opacity: 0.125;
	--card-color: rgba(var(--card-rgb), var(--card-opacity));
	--card-color-hover: rgba(236, 221, 227, 0.125);
	--card-color-select: rgba(169, 210, 164, 0.5); /*	-	*/
	
	--textarea-block-color: rgba(0, 0, 0, 0.2);
	
	/* text */
	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.015;
	--textarea-text-color: rgb(255, 255, 255);
	--textarea-radius: 22px;  /*	-	*/
	--text-normal: rgb(235, 235, 235);
	--textarea-block-text-color: #ddd;
	
	/* app text */
	--interactive-normal: #ccc;
	--interactive-hover: #eee;
	--interactive-active: #fff;
	--interactive-muted: #777; /*	-	*/
	
	--scrollbar-opacity: 0.1;
	--scrollbar-opacity-hover: 0.15;
}